/*------------------------------------------------------------------
    File Name: custom.css
-------------------------------------------------------------------*/

/** ADD YOUR AWESOME CODES HERE **/

.card-img{
    height:250px;
    width:400px;
}

.detail-img{
    height:400px;
    width:400px;
}

.cart-img {
    height: 100px;
    width: 100px;
}

/*------------------------------------------------------------------
    Fixed Sidebar
-------------------------------------------------------------------*/
.sidenav_W3S {
    height: 90px;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav_W3S a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav_W3S a:hover {
    color: #f1f1f1;
}

.main_W3S {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav_W3S {
        padding-top: 15px;
    }

    .sidenav_W3S a {
        font-size: 18px;
    }
}
/*------------------------------------------------------------------
   End Fixed Sidebar
-------------------------------------------------------------------*/




/*------------------------------------------------------------------
  Chat box
-------------------------------------------------------------------*/
body 
* {
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #0034ff;
    color: white;
    padding: 16px 20px;
    border:none;
    border-radius:50%;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 80px;
    height:80px
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
/*------------------------------------------------------------------
   End Chat box
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
  Chat room
-------------------------------------------------------------------*/
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #ccc;
    }

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}
/*------------------------------------------------------------------
 End Chat room
-------------------------------------------------------------------*/